*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.formContainer{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: red; */
    padding: 50px;
}
.input-field{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    color: rgb(161, 161, 161);
    font-size: small;
    letter-spacing: 1px;
}

.heading{
    color: #10baef;
    margin: 15px 0;
    letter-spacing: 1px;
}

.input{
    border: none;
    border-bottom: 2px solid rgb(218, 218, 218) ;
    outline: none;
    padding-bottom: 14px;
}

.sidebarContainer{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,#20bf55, #10baef);
}
.BuddyContainer{
    margin-left: 10%;
    width: 20rem;
    color: white;
}
.coach{
    font-size: xx-large;
    font-family: sans-serif;
    margin: 0px;
}
.buddy{
    /* border: 5px solid red; */
    font-size: 3.5rem;
    padding: 0px;
    letter-spacing: 4px;
    font-weight: bold;
    margin: 0px;
}
.btnDiv{
    display: flex;
    justify-content: space-evenly;
}
button.btn{
    padding: 5px 20px;
}
.btn{
    color: white;
    font-size: 12px;
    border: none;
    height: fit-content;
    text-decoration: none;
    border-radius: 8px;
    font-style: normal;
    line-height: 24px;
    cursor: pointer;
    margin: 10px 10px;
    background-color: #20BF55;
    padding: 10px 20px;
    letter-spacing: 0.8px;
}
@media screen and (max-width: 800px) {
    .mainContainer{
        flex-direction: column-reverse;
    }
    .formContainer{
        width: 70%;
        
        align-items: center;
    }
    .sidebarContainer{
        width: 100%;
        
    }
    .submit-response{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

hr{
    border: none;
    border-bottom: 2px solid #10baef;
    width: 20rem;
  }
.lineContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.diamond{
    color: #10baef;
    width: 13px;
}